<div class="container desc-container">
    <div class="row" style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) ,url(/uploads/{{largePoster}}); background-size: 100% 100%; padding-top: 50px"> 
        <div class="description col-md-3">
            <img class="desc-image mt-4"  src="/uploads/{{smallPoster}}" alt="{{productTitle}}">
        </div>
        <div class="prod-description col-md mt-4">
            <h2 class="text-white">{{productTitle}}</h2>
            <p class="text-white">Rating: {{rating}}/10</p>
            <p class="text-white">{{description}}</p>
            <div class="d-flex">
                <form action="/sell-cart" method="POST">
                    <input type="hidden" value="{{_id}}" name="sell">
                    <button class="btn btn-primary" type="submit">Buy: ${{sellPrice}}</button>
                </form>

                <form action="/rent-cart" method="POST">
                    <input type="hidden" value="{{_id}}" name="rent">
                    <button class="btn btn-primary" type="submit">Rent: ${{rentPrice}}</button>
            </form>
            </div>
        </div>
    </div>
</div>
